html[data-theme="night"] {
  --color-scheme: dark;
  --primary: #38bdf8;
  --secondary: #818cf8;
  --accent: #f471b5;
  --neutral: #1e293b;
  --neutral-focus: #273449;
  --base-100: #0f172a;
  --base-type: #ffffff;
  --info: #0ca5e9;
  --info-content: #000000;
  --success: #2dd4bf;
  --warning: #f4bf50;
  --error: #fb7085;
  --black: #0e0f10;
  --white: #ffffff;
  --gray: #878686;
  --light-gray: #e2e2e2;
  --light-black: #242323;
}
