html[data-theme='night'] {
  --color-scheme: dark;
  --primary: 56, 189, 248;
  --secondary: 129, 140, 248;
  --accent: 244, 113, 181;
  --neutral: 30, 41, 59;
  --neutral-focus: 39, 52, 73;
  --base-100: 15, 23, 42;
  --base-type: 255, 255, 255;
  --info: 12, 165, 233;
  --info-content: 0, 0, 0;
  --success: 45, 212, 191;
  --warning: 244, 191, 80;
  --error: 251, 112, 133;
  --black: 14, 15, 16;
  --white: 255, 255, 255;
  --gray: 135, 134, 134;
  --light-gray: 226, 226, 226;
  --light-black: 36, 35, 35;
}
